@model IEnumerable<Entry> 

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<!-- add search functionality soon -->
<div>
  <table class="table w-full sortable">
    <thead>
      <tr style="font-weight: bold;">
        <td>Manage</td>
        <td>Status</td>
        <td>Id</td>
        <td>Product</td>
        <td>Variation</td>
        <td>Date Purchased</td>
        <td>Date Added</td>
        <td>Store</td>
        <td>Sales Order Number</td>
        <td>Reference Number</td>
        <td>Name</td>
        <td>Contact</td>
        <td>Email</td>
      </tr>
    </thead>
    <tbody>
    @foreach (Entry entry in Model){
        <tr class="item">
          <td>
            <a href="/dashboard/entries/@entry.Id">Manage</a>
          </td>
          <td>@entry.Status</td>
          <td>@entry.Id</td>
          <td>@entry.Product.Name</td>
          <td>@entry.Variation</td>
          <td>@entry.DatePurchased</td>
          <td>@entry.DateAdded</td>
          <td>@entry.Store</td>
          <td>@entry.SalesOrderNum</td>
          <td>@entry.ReferenceNum</td>
          <td>@(entry.FirstName + " " + entry.LastName)</td>
          <td>@entry.ContactNumber</td>
          <td>@entry.Email</td>
        </tr>
    }
    </tbody>
  </table>
  <ul>
  @{
    int pages = int.Parse(TempData["entryCount"].ToString()) / 10;
    for (int i=1; i<=pages; i++){
      <li>
        <a href="/dashboard/entries?count=10&page=@i">@i</a>
      </li>
    }
  }
  </ul>
</div>